* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  margin: auto; 
}

body {
  box-sizing: border-box; 
}

/* header */
.header-container {
  margin: 0; 
  padding: 0; 
  display: flex; 
  flex-direction: row; 
  background-color: gray; 
  height: 7.5vh; 
  position: relative; 
  align-items: center;
}

.header-logo {
  font-size: 1.5rem; 
  position: absolute; 
  left: 0; 
  margin-left: 1rem; 
  text-decoration: none; 
  color: black; 
}

.icon-fire {
  color: rgb(255, 85, 0); 
}