* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  margin: 0; 
}

body {
  box-sizing: border-box; 
}

/* header */
.header-container {
  margin: 0; 
  padding: 0; 
  display: flex; 
  flex-direction: row; 
  background-color: #2863d1; 
  height: 10vh; 
  width: 100%; 
  position: relative; 
  align-items: center;
  justify-content: space-between; 
}

.header-links, .header-logo {
  margin: 2rem; 
  cursor: pointer; 
}

.header-logo-link {
  font-size: 1.5rem; 
  /* position: absolute;  */
  left: 0; 
  /* margin-left: 1rem;  */
  text-decoration: none; 
  color: #F1D74D; 
  font-weight: bold; 
}

.icon-fire {
  color: #D42F41; 
}

.header-links a {
  margin-right: 1rem; 
  color: white; 
}

.header-links a:hover {
  color: #F1D74D; 
}



/* login page */
.form-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 70vh; 
  width: 100vw; 
}

.form {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  padding: 2rem; 
  width: 300px; 
  border: 5px solid #2863d1; 
}
.form-title {
  font-size: 1.5rem; 
  margin-bottom: 1rem; 
}

.form-group {
  display: flex; 
  flex-direction: column;
  margin-bottom: 1rem; 
  font-size: 1.25rem; 
}

.form-input {
  height: 1.5rem;  
  margin-top: 0.5rem;
}

.form-input:focus {
  outline: none !important;
  border: 2px solid #F1D74D; 
  box-shadow: 0 0 10px #719ECE;
}

.btn-submit {
  background-color: #2863d1;
  color: white; 
  padding: 0.5rem; 
  border: none; 
}

.btn-submit:hover {
  background-color: #3278fa;
  cursor: pointer; 
}